<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/tracker"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.portal.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.portal.Hello"
            android:label="@string/title_activity_hello" >
        </activity>
        <activity
            android:name="com.example.portal.Historique"
            android:label="Coordonnees GPS" >
        </activity>
        <activity
            android:name="com.example.portal.MapPortal"
            android:label="@string/title_activity_map" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDfSzpHbvej8FMtUAx3s2uWhkmcCsOcW3o" />

        <activity
            android:name="com.example.portal.ListSystemes"
            android:label="@string/title_activity_list_systemes" >
        </activity>
        <activity
            android:name="com.example.portal.ChoosePartner"
            android:label="@string/title_activity_choose_partner" >
        </activity>
    </application>

</manifest>
